@charset "UTF-8";

@font-face {
    font-family: "Noto Sans CJK KR";
    src: url("../font/notosanskr-thin.woff");
    font-weight: 100;
}

@font-face {
    font-family: "Noto Sans CJK KR";
    src: url("../font/notosanskr-light.woff");
    font-weight: 200;
}

@font-face {
    font-family: "Noto Sans CJK KR";
    src: url("../font/notosanskr-regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans CJK KR";
    src: url("../font/notosanskr-bold.woff");
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans CJK KR";
    src: url("../font/notosanskr-black.woff");
    font-weight: 800;
}


@font-face {
    font-family: "NanumSquare";
    src: url("../font/NanumSquareL.woff");
    font-weight: 200;
}

@font-face {
    font-family: "NanumSquare";
    src: url("../font/NanumSquareR.woff");
    font-weight: 400;
}

@font-face {
    font-family: "NanumSquare";
    src: url("../font/NanumSquareB.woff");
    font-weight: 600;
}

@font-face {
    font-family: "NanumSquare";
    src: url("../font/NanumSquareEB.woff");
    font-weight: 800;
}

/*폰트설정*/
body, button, input, select, td, textarea, th {
    font-family: 'NanumSquare', 'Noto Sans CJK KR', 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Arial, Droid sans, sans-serif; 
    font-variation-settings: 'wght' 400;
    /*font-size: 100%;*/
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: unset;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    text-shadow: 0 0 1px rgba(0, 0, 0, .01);
    -webkit-text-stroke: .001em;
    font-size: 15px;
    /*line-height: 1.5em;*/
    letter-spacing: -0.03em;
    color: #fff;
    font-weight: 400;
    word-break: keep-all;
}
input, textarea {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
}
/*웹폰트 사용시 password가 나타나지 않는 문제*/
input[type="password"] {
    font-family: 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Arial, Droid sans, sans-serif;
}
/*type number의 증감버튼 제거*/
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
/*스크롤바 제거*/
@media all and (max-width:1025px) {
    html, body {
        overflow-y: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        overflow: auto;
    }
}

/*색설정*/
#defaultPageToolbar.toolbar {
    background:rgba(0,0,0,0.5);
}
.toolbar {
    background: #323B51;
    box-shadow: 0 -7px 15px rgb(0, 0, 0);
}

.bottom_nav_wrapper {
    background: rgba(0,10,17,1);
    box-shadow: 0 7px 15px rgb(0, 0, 0);
}

/*배경색*/
body, .pop{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#394153+0,0a111d+100 */
    background: rgb(57,65,83); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(57,65,83,1) 0%, rgba(10,17,29,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(57,65,83,1) 0%,rgba(10,17,29,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(57,65,83,1) 0%,rgba(10,17,29,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#394153', endColorstr='#0a111d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*포인트컬러*/
.team_record_wrapper strong,
.calc_wrapper .value,
.team_history .card .table .col .row.th,
.info .ground,
.player_spec_wrapper > div {
    color: #005DFF;
}

.button,
.button_wrapper a,
.scorer_info_wrapper .line,
.player_info_wrapper .line,
.v-cal .vcal-date--selected span {
    background: #005DFF;
}

.pop_content .col > .is_check.selected{
    background: rgba(0, 93, 255, 0.5);
}

.tab_title_wrapper {
    border-bottom: #005DFF;
}

.pop_content .col > .is_check {
    border: 1px solid #005DFF;
}
/*세컨드 컬러*/
.nothing_wrapper,
.calc_wrapper,
.pop_content .col > div,
.asset_wrapper > div {
    background: #323B51;
}
/*배경색보다 진한색*/
th,
.comment,
.team_history .card .table .col .row.th,
.list .team_matching_text,
.score_wrapper .score,
.list_streaming{
    background: #1f1f1f;
}

a.button,
.button,
.button_wrapper a,
.pop,
.pop_content .col.time > div,
.pop_content .col > div.label {
    color: #fff;
}

.container > div {
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    /*background: #2b2d31;
            color:#8df35a;*/
}
/*html, body, form, #futsalWrap {
    height:100%;
}*/
/*너비 설정, 여백 설정*/
.sort_wrapper,
.toolbar,
.card h3,
.textarea_wrapper,
.confirm_resv_info,
.live_match_wrapper,
.vod_info_wrapper,
.team_wrapper,
.add_player_wrapper,
.list,
.vod_thum_wrapper,
.calendar_title_wrapper,
.player_list li,{
    padding-left: 5%;
    padding-right: 5%;
}

#futsalWrap {
    max-width: 940px;
    margin: 0 auto;
}

i img, i svg {
    max-width: 100%;
    width: 100%;
    vertical-align:top;
}
iframe {
    width:100%;
    height:100%;
}
textarea {
    -webkit-appearance: none;
    width: 100%;
    resize: none;
    outline: 0;
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    padding: 0;
    background: transparent;
}


input:-ms-input-placeholder {
    color: #fff;
    font-size:16px;
    font-weight:400;
}

input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

input::-o-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

textarea::-webkit-input-placeholder, .asset_wrapper .asset_select strong {
    font-size: 14px;
    color: #fff;
}

.scrim {
    display: none;
    z-index: 8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

    .scrim.on {
        display: block;
    }
.pop_fadeout {
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    height: 5em;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 15em;
    padding: 3em;
}
.pop {
    display: none;
    overflow: hidden;
    z-index: 9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
}
.pop_1 {
    display: none;
    overflow: hidden;
    z-index: 9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    background: #323B51;
}
.pop_body {
    position:relative;
}
    .pop.type_0 {
        background: #E2E6F1;
    }
        .pop.type_0 .pop_title {
            background: #323B51;
            text-align: left;
            padding-left: 20px;
            box-shadow:0 3px 6px rgba(0,0,0,0.16);
        }
        .pop.type_0 .asset_wrapper {
            background: #C6CAD8;
        }
        .pop.type_0 .asset_wrapper .asset_search{
            background: #C6CAD8;
            border:none;
        }
    .pop .pop_title {
        text-align: center;
    }
.pop_title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
}
.pop .message_wrapper {
    margin:0;
}
.pop_content {
}
.intent {
    position: relative;
    height:100%;
}
    .intent .pop_content {
        padding-top: 30px;
        padding-bottom: 50px;
        text-align:center;
    }
.intent .row{
    text-align:center;
}
.intent_button_wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
    .intent_button_wrapper > div {
        flex: 1 1 auto;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
        cursor:pointer;
    }
.intent_button_wrapper > div.disabled {
    background: #ccc;
}
        .intent_button_wrapper > div.decision {
            flex: 2 2 auto;
            background: #005DFF;
            color: #fff;
        }
.confirm {
    position: relative;
    height: 100%;
}
    .confirm .message_wrapper {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 60px);
    }

    .confirm .row {
        text-align: center;
    }

.confirm_button_wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

    .confirm_button_wrapper > div {
        flex: 1 1 auto;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
    }

        .confirm_button_wrapper > div.disabled {
            background: #ccc;
        }

        .confirm_button_wrapper > div.decision {
            flex: 2 2 auto;
            background: #005DFF;
            color: #fff;
        }
.btn_close {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 0;
    right: 20px;
    width: 15px;
    height: 15px;
}
.list_form .btn_close {
bottom:0;
margin: auto;
}
.pop .btn_close,
.pop_1 .btn_close,
.pop_2 .btn_close {
    top: 20px;
}

h2.subpage_title {
    width:100%;
    text-align:center;
}
/*toolabar*/
.toolbar {
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    padding-top: 50px; /*tool_bar 높이*/
    padding-bottom: 100px; /*bottom_nav 높이*/
    min-height: calc(100vh - 150px);
}

.toolbar a {
    width: 25px;
    height: 25px;
    position: absolute;
}
a.btn_back {
    left: 5%;
    width: 15px;
}
a.btn_hamburger {
    right: 5%;
}
a.btn_search{
    right: 15%;
}
a.btn_alarm{
    right: 15%;
}
    a.btn_alarm.on:after {
        display:block;
        content:"";
        position: absolute;
        right:0;
        top:0;
        width: 8px;
        height: 8px;
        background:#005DFF;
        border-radius:50%;
    }
.toolbar:after {
    content: "";
    display: block;
    clear: both;
}

.toolbar a.btn_logo {
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 0;
    margin: auto;
    width: 126px;
    height: 25px;
}

/*bottom_nav*/
.bottom_nav_wrapper {
    z-index: 7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -5px 20px rgba(0,0,0,0.05);
}
.bottom_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding-top: 5px;
    padding-bottom: 20px;
    max-width: 940px;
    margin: auto;
}

    .bottom_nav a {
        flex: 1 1 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color:#fff;
    }

        .bottom_nav a i {
            width: 30px;
            height: 30px;
            display: block;
            overflow: hidden;
            margin-bottom: 5px;
        }

        .bottom_nav a .img_active {
            display: none;
        }
        .bottom_nav a.on {
            color:#005DFF
        }
        .bottom_nav a.on .img_active {
            display: block;
        }

        .bottom_nav a.on .img_default {
            display: none;
        }


/*버튼타입*/
.button_wrapper {
    display: flex;
    justify-content: space-between ;
        z-index: 7;
}
a.button, .button {
    background: #005DFF;
    text-align: center;
    border-radius: 5px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}
    .button.default {
        background: #C6CAD8;
        color: #333;
        cursor: pointer;
    }
    .button.disabled {
        background: #ccc;
        color: #fff;
        cursor: auto;
    }
    .button.warning {
        background: #E9355C;
        color: #fff;
        cursor: auto;
    }

a.button_2, .button_2 {
    width:100%;
    display: block;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0;
    background: #005DFF;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 940px;
    margin: auto;
    cursor: pointer;
}
.button_2.disabled {
    background: #ccc;
    color: #fff;
    cursor:auto;
}
    .button_2.warning {
        background: #ccc;
        color: #E9355C;
        cursor: auto;
    }


.btn_edit {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

/*float*/
.float_writing {
    position: fixed;
    bottom: 130px;
    right: 5%;
}

    .float_writing i {
        width: 50px;
        cursor: pointer;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        border-radius: 50%;
    }
/*linked 타입*/
a.linked_area, .linked_area {
    display: block;
    width: calc(100% - 20px);
    background: #323B51;
    padding: 10px;
    line-height: 30px;
    position: relative;
    color:#fff;
}
a.linked_text, .linked_text {
    color: #005DFF;
    text-decoration: underline;
}
/*thum_proifle 타입*/

.thum_profile_1,
.thum_profile_2,
.thum_profile_3,
.thum_profile_4 {
    background:#fff;
}
.thum_profile_1 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    /*cursor:pointer;*/
}

.thum_profile_2 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
}
.thum_profile_3 {
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    vertical-align:middle;
}
.thum_profile_4 {
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
}
        /*tabs*/


.tab_content .tab_title_wrapper {
    border-top: none;
}
    .tab_title_group {
        display: flex;
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }

.tab_title {
    position: relative;
    flex: 1 1 auto;
    line-height: 3.5em;
    text-align: center;
    cursor: pointer;
}

    .tab_title .line {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 2px;
    }

    .tab_title.on .line {
        background: #005DFF
    }

.tab_content {
    display: none;
}

    .tab_content.on {
        display: block;
    }
/*card*/

.card {
    overflow: hidden;
    /*min-width: 120px;*/
    /*min-height: 170px;*/
    position: relative;
    width: 150px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}


.player_desc_wrapper .card {
    float: left;
    background: #C6CAD8;
    height: 100%;
    width: 35%;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

    .card i {
        width: 100%;
    }

    .card .overall {
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        width: 24px;
        line-height: 24px;
        text-align: center;
        background: #005DFF;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }

.card .img_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 54px;
    background: rgba(50, 59, 81, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

    .card .player_no {
        display: inline-block;
        width: 26px;
        height: 17px;
        background: #005DFF;
        color: #fff;
        text-align: center;
        vertical-align: middle;
    }

    .card .formation {
        color: #005DFF;
    }

/*nothing_wrapper*/
.nothing_wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius:3px;
}
.nothing_wrapper .nothing_message{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:100%;
}
/*sort_wrapper*/

.sort_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-right: 5%;
}

    .sort_wrapper .asset_wrapper {
        width: 130px;
    }
    .sort_wrapper .asset_select_wrapper {
        height:auto;
    }
    .sort_wrapper .asset_select {
        border:none;
    }
    /*asset_wrapper*/
    .asset_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .asset_wrapper > div {
        width: 100%;
        height: 40px;
        line-height: 39px;
        border: 1px solid rgba(0,0,0,0.5);
        background: #323B51;
    }

/*asset_select*/
.asset_select {
    position: relative;
    padding: 5px 10px;
    background: #323B51;
}

div.asset_select_wrapper {
    flex: 1 1 auto;
    line-height: 30px;
}

.asset_select select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: none;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    color: transparent;
    border: 0;
    cursor: pointer;
}

.asset_select_wrapper .asset_select strong {
    /*font-size: 14px;*/
    color: #fff;
}

.asset_select .ico_arrow {
    width: 15px;
    height: 9px;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    vertical-align: top;
    background: url('../img/ico_select_arrow.png') no-repeat;
    background-size: contain;
}

.asset_select select option {
    color: #000;
}

/*asset_count*/
.asset_count_wrapper {
    flex: 1 1 auto;
    display: flex;
}

.asset_count .btn_count {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
}

.asset_count_wrapper .asset_count span {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.asset_count .btn_count .ico_count {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    color: transparent;
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 10px;
    height: 10px;
}

.asset_count .btn_count.minus .ico_count {
    background: url('../img/ico_minus.png') no-repeat;
    background-position: center;
}

.asset_count .btn_count.plus .ico_count {
    background: url('../img/ico_plus.png') no-repeat;
    background-position: center;
}

.asset_count_wrapper .asset_count {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asset_count .btn_count.plus {
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.asset_count input {
    text-align: center;
    text-indent: 0;
}
/*asset_ripple*/
.asset_ripple {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background: #eee;
    border: 2px solid #eee;
    cursor: pointer;
}

    .asset_ripple i {
        position: absolute;
        left: 0;
        right: auto;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background: #fff;
        /*box-shadow:1px 10px 20px rgba(0,0,0,0.3);*/
    }

    .asset_ripple.on {
        background:#005DFF;
        transition: all .5s ease-in-out
    }

        .asset_ripple.on i {
            left: auto;
            right: 0;
            transition: all .5s ease-in-out
        }
        /*asset_checkbox*/
div.asset_checkbox_wrapper {
    display: flex;
    flex: 1 1 4em;
    border: none;
    background: none;
    position: relative;
}
.asset_checkbox {
    width: 20px;
    position: relative;
    margin-right:5px;
}
.asset_checkbox_wrapper label.text {
    font-size: 15px;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 0;
    color: transparent;
    background: transparent;
    -webkit-border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 1;
}

    input[type="checkbox"] + label.btn {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: #eff0f4;
        background: url(../img/chk_default.png) no-repeat;
        -webkit-background-size: cover;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
    }

    input[type="checkbox"]:checked + label.btn {
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        background: url(../img/chk_checked.png) no-repeat;
        -webkit-background-size: cover;
        color: transparent;
        width: 20px;
        height: 20px;
    }

/*asset_button*/
div.asset_button_wrapper {
    flex: 1 1 auto;
    max-width: 90px;
    text-align:center;
}
.asset_button {
    font-size: 14px;
    font-weight: 600;
    cursor:pointer;
}
/*asset_textarea*/
div.asset_textarea_wrapper {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.asset_textarea {
    padding: 10px;
    background: #323B51;
    border: 1px solid rgba(0,0,0,0.5);
}
.asset_textarea textarea {
}
/*asset_search*/
.asset_search {
    position: relative;
}
    .asset_search input {
        padding-left: 20px;
        width: calc(90% - 20px);
    }
    .asset_search .ico_search {
        width:20px;
        height:20px;
        position:absolute;
        right:20px;
        top:0;
        bottom:0;
        margin:auto;
    }
    /*asset_input*/
.asset_input {
    line-height: 30px;
    padding: 5px 10px;
    background: #323B51;
}
    .asset_input input { 
        width: 100%;
    }
    /*asset_radio_box*/

.asset_radio_box_wrapper {
    overflow:hidden;
}

.asset_radio_box {
    position: relative;
    width: 50%;
    height: 52px;
    float:left;
}

    .asset_radio_box input[type='radio'] + label span{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        background: #323B51;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
    }

    .asset_radio_box input[type='radio']:checked + label span {
        background: #005DFF;
        color: #fff;
        border: 1px solid rgba(0,0,0,0.5);
    }
/*asset_radio*/

.asset_radio {
    display: inline-block;
}
    .asset_radio input[type='radio'] {
        position: relative;
        width: 16px;
        height: 16px;
    }

        .asset_radio input[type='radio']:after {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: #fff;
            cursor: pointer;
        }

    .asset_radio input[type='radio']:after {
        content: "";
        background:url("../img/radio_default.png")no-repeat 0 0/cover;
    }

    .asset_radio input[type='radio']:checked:after {
        content: "";
        background: url("../img/radio_checked.png")no-repeat 0 0/cover;
    }
    /*team_summary_wrapper*/
.team_summary_wrapper {
    background: #E2E6F1 url("img/texture_team_summary.png")no-repeat 0 0/cover;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    min-height: 170px;
    height: 300px;
    max-height: 38vw;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

    .team_summary_wrapper .img_wrapper,
    .team_summary_wrapper .desc_wrapper {
        float: left;
    }

    .team_summary_wrapper .img_wrapper {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-width: 120px;
        width: 30%;
    }

    .team_summary_wrapper .desc_wrapper {
        color: #333;
        float: left;
        width: 66%;
        padding: 20px 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: calc(100% - 40px);
    }

        .team_summary_wrapper .desc_wrapper .row:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    .team_summary_wrapper .team_title {
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    .team_summary_wrapper em {
        color: #999999;
        font-size: 15px;
    }

    .team_summary_wrapper span {
        color: #333;
        font-size: 15px;
    }

    .team_summary_wrapper .overall {
        color: #005DFF;
        font-weight: 600;
        font-size: 18px;
    }
    /*team_desc_wrapper*/

.team_desc_wrapper {
    background: #E2E6F1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    min-height: 170px;
    height: 300px;
    max-height: 8vw;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

    .team_desc_wrapper .img_wrapper {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C6CAD8;
        height: 100%;
        min-width: 120px;
        width: 30%;
    }

    .team_desc_wrapper .desc_wrapper {
        float: left;
        width: 60%;
        padding: 20px 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: calc(100% - 40px);
    }

    .team_desc_wrapper .desc_wrapper {
    }

    .team_desc_wrapper .overall {
        position: absolute;
        right: 5%;
        top: 5%;
        color: #005DFF;
        font-weight: 600;
        font-size: 30px;
    }

    .team_desc_wrapper .team_title {
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    .team_desc_wrapper em {
        color: #999999;
        font-size: 15px;
    }

    .team_desc_wrapper span {
        color: #333;
        font-size: 15px;
    }

    .team_desc_wrapper .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid rgba(185,185,185,0.5);
        padding: 0.1em 0;
        position: relative;
    }

        .team_desc_wrapper .row:nth-child(2) {
            flex-direction: row;
        }

            .team_desc_wrapper .row:nth-child(2) .col {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
            }

        .team_desc_wrapper .row:last-child {
            border-bottom: 0;
        }
/*player_desc_wrapper*/

.player_desc_wrapper {
    overflow: hidden;
    position: relative;
    background: #E2E6F1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    min-height: 200px;
    height: 200px;
    max-height: 8vw;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 500px;
    border-radius: 3px;
}

    .player_desc_wrapper .img_wrapper {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C6CAD8;
        height: 100%;
        min-width: 120px;
        width: 30%;
    }

    .player_desc_wrapper .desc_wrapper {
        float: left;
        width: 57%;
        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: calc(100% - 16%);
    }

    .player_desc_wrapper .desc_wrapper {
    }

        .player_desc_wrapper .desc_wrapper .overall {
            position: absolute;
            right: 5%;
            top: 5%;
            color: #005DFF;
            font-weight: 600;
            font-size: 30px;
        }

    .player_desc_wrapper .desc_wrapper .team_title {
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    .player_desc_wrapper .desc_wrapper em {
        color: #999999;
        font-size: 15px;
    }

    .player_desc_wrapper .desc_wrapper span {
        color: #333;
        font-size: 16px;
        font-weight:600;
    }

    .player_desc_wrapper .desc_wrapper .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid rgba(185,185,185,0.5);
        padding: 0.1em 0;
    }

    .player_desc_wrapper .desc_wrapper .row:nth-child(2),
    .player_desc_wrapper .desc_wrapper .row:nth-child(3) {
        flex-direction: row;
    }

        .player_desc_wrapper .desc_wrapper .row:nth-child(3) {
            /*width:auto;*/
        }
        .player_desc_wrapper .desc_wrapper .row:nth-child(1) .col {
            position:relative;
        }
            .player_desc_wrapper .desc_wrapper .row:nth-child(1) .col .thum_profile_2 {
                margin-right:10px;
            }
        .player_desc_wrapper .desc_wrapper .row:nth-child(2) .col,
        .player_desc_wrapper .desc_wrapper .row:nth-child(3) .col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1 1 auto;
        }
        .player_desc_wrapper .desc_wrapper .row:nth-child(1) {
            flex-direction: row;
            align-items: center;
        }
            .player_desc_wrapper .desc_wrapper .row:nth-child(1) .col:nth-child(2) {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
            }

        .player_desc_wrapper .desc_wrapper .row:nth-child(3) {
            position: relative;
        }

        .player_desc_wrapper .desc_wrapper .row:last-child {
            border-bottom: 0;
        }
        .player_desc_wrapper .desc_wrapper .player_no {
                display: inline-block;
            width: 26px;
            height: 17px;
            background: #005DFF;
            color: #fff;
            text-align: center;
            vertical-align: middle;
        }
/*section_wrapper*/
.section_0 {
    overflow: hidden;
    color: #333;
    background: #E2E6F1;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    border-radius: 3px;
}
.section {
    overflow: hidden;
    color: #333;
    background: #E2E6F1;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    border-radius: 3px;
}
.section_title {
    color: #fff;
    background: #323B51;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.section_0 .section_title {
    text-align: left;
    line-height: 50px;
    padding-left:5%;
}
.section .section_title {
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.section_body {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.section_0 .section_body {
    padding:0;
}
.section_0 .section_body li{
    padding-left:5%;
    padding-right:5%;
}

    .section_body:last-child {
        border-bottom: 0;
    }

    .section_body .top {
        margin-bottom: 10px;
    }
.section_body .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.li_team_ranking {
    overflow: hidden;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    .li_team_ranking:last-child {
        border-bottom: 0;
    }

    .li_team_ranking > div {
        float: left;
    }

    .li_team_ranking > div, .li_team_ranking_title a {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }


    .li_team_ranking .no {
        width: 5%;
        margin-right: 2%;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
    }

.li_team_ranking_title {
    width: 61%;
}

    .li_team_ranking_title i {
        margin-right: 10px;
    }

.li_team_ranking .team_record_wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.team_record_wrapper strong {
    font-weight: 600;
    font-size: 18px;
}

.team_record_wrapper span {
    font-weight: 400;
    font-size: 15px;
}

.point_desc_wrapper .title {
    font-size: 15px;
    font-weight: 600;
}


.point_desc_wrapper .bottom .amt.plus {
    color: #005DFF;
}
.point_desc_wrapper .bottom .amt.minus {
    color: #E9355C;
}


.resv_desc_wrapper .state {
    position: absolute;
    top: 5%;
    right: 5%;
    background: #C6CAD8;
    width: 57px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}

.resv_desc_wrapper .title {
    color: #005DFF;
    display: inline-block;
    width: 18%;
}
.section_body > div > div {
}
    .section_body > div > div:last-child {
        margin-bottom: 0;
    }
.resv_desc_wrapper .desc > div {
    margin-bottom: 15px;
}
.resv_desc_wrapper .desc > div:last-child {
    margin-bottom: 0;
}

    .resv_desc_wrapper .desc > div > p {
        line-height: 1.4em;
    }

.resv_desc_wrapper .bottom a {
    flex: 1 1 auto;
    margin-right: 10px;
}

    .resv_desc_wrapper .bottom a:last-child {
        margin-right: 0;
    }

.resv_desc_wrapper.type_1 .bottom,
.resv_desc_wrapper.type_2 .bottom {
    justify-content: center;
}

    .resv_desc_wrapper.type_1 .bottom a,
    .resv_desc_wrapper.type_2 .bottom a{
        max-width: 60%;
    }
/*player_list_wrapper*/
.player_list li a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

    .player_list li a .thum_profile_2 {
        margin-right: 10px;
    }

.add_player {
    position: relative;
}

    .team_recent .ico_new_page,
    .player_list li .ico_new_page,
    .add_player .ico_new_page {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
    }

.player_state {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    background: #C6CAD8;
    color: #333;
    width: 60px;
    border-radius: 3px;
    line-height: 40px;
}
/*list_vod*/
.vod_list_wrapper {
    margin-top:50px;
}
.list_vod {
    margin-bottom: 50px;
}
.list_vod_title_wrapper {
    position: relative;
    color: #fff;
}

.list_vod_title_wrapper,
.list_vod_desc_wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

.list_vod_desc_wrapper {
    padding: 5% 0;
}

.list_vod_title_wrapper .list_row {
    display: flex;
    align-self: center;
    width: 98%;
}

.list_vod .team_name {
    display: block;
    font-size: 20px;
    color: #fff;
}

.list_vod .matching_date {
    display: block;
    font-size: 14px;
    color: #fff;
}

.list_vod_title_wrapper .thum_profile_2 {
    margin-right: 20px;
}
.list_vod .vod {
    height: 200px;
}

.list_vod .list_streaming:last-child {
    margin-bottom: 0;
}

.list_vod .pannel_title, .list_vod .pannel_content {
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

.list_vod a.bar_wrapper {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-left: 5%;
    padding-right: 5%;
}
.list_vod .pannel_content .comment_list {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.list_vod .comment_list {
    margin-bottom: 50px;
}

.reaction {
    padding-left: 5%;
    padding-right: 5%;
}

/*list_form*/


.list_form {
    display: flex;
    position: relative;
    line-height: 75px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

    .list_form:first-child {
        border-top: 0;
    }
    .list_form:last-child {
        border-bottom: 0;
    }

    .list_form label {
        position:relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
        color: #333;
            font-size: 16px;
    }
    .list_form .thum_profile_2 {
        margin-right: 3%;
    }
    .list_form .list_title {
        width: 20%;
        white-space: nowrap;
    }

    .list_form .label_wrapper {
        width: 1em;
        text-align: center;
    }

    .list_form .list_content {
        width:80%;
        display: flex;
    }
/*menu*/
.menu {
    position: relative;
    display: block;
    text-align: right;
}
.menu i{
    width:2px;
    cursor:pointer;
}
.menu_vod_list_wrapper {
    display: none;
}
.menu.on .menu_vod_list_wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 21px;
    z-index: 1;
}
.list_menu {
    display: block;
    width: 48px;
    line-height: 26px;
    border: 1px solid #eee;
    background: #293241;
    cursor: pointer;
    text-align: center;
}
/*comment*/
.list_comment {
    margin-top: 20px;
    position: relative;
}
    .list_comment > div {
        float:left;
    }
    .list_comment .thum {
        width: 40px;
    }
    .comment {
        border-radius: 5px;
        padding: 2%;
        margin-left: 10px;
        background: #323B51;
        width: calc(100% - 100px);
    }
    .comment .user {
        font-weight:600;
    }
    .comment .date {
        font-size: 10px;
        vertical-align: middle;
        padding-left:5px;
    }
.comment_text {
    padding-top:5px;
}
.list_comment:after {
    content: "";
    display: block;
    clear: both;
}
.list_comment .thum_profile_2 {
    width:40px;
    height:40px;
}
.comment_input input {
    font-size:15px;
    font-weight:400;
}
.comment_input_wrapper .thum,
.comment_input_wrapper .thum_profile_2 {
    width: 40px;
    height: 40px;
}
/**/
.reaction_bar {
    width: 100%;
}
.reaction_bar:after {
    content:"";
    display:block;
    clear:both;
}
    .reaction_bar i {
        position:static !important;
        width: 24px;
        vertical-align: middle;
        margin-right: 5px;
    }
    .reaction_bar .reaction> div {
        padding:10px 0;
        margin-right: 20px;
        float:left;
        cursor:pointer;
    }
.comment_input_wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 7;
    display: flex;
    align-content: center;
    background: rgba(0,10,17,1);
}
    .comment_input_wrapper .thum {
        margin-left: 5%;
    }
.comment_input {
    position: relative;
    background: #eee;
    height: 40px;
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 5%;
    width: 100%;
    background: #323B51;
    padding-right: 1%;
    display:flex;
    align-items:center;
}
    .comment_input input {
        width:90%;
        height: 100%;
        padding: 0 2%;
    }
    .comment_input i {
        width: 24px;
        vertical-align: middle;
        cursor:pointer;
    }
/*expanding_pannel_wrapper */
.expanding_pannel_wrapper {
}

.pannel_title, .pannel_content {
    padding-left: 5%;
    padding-right: 5%;
}
.pannel_title {
    cursor: pointer;
    position: relative;
    height: 59px;
    display: flex;
    align-items: center;
}

.pannel:first-child .pannel_title {
    border-top: none;
}

.pannel_content {
}

.pannel_title .flip_ico {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 5%;
    bottom: 0;
    margin: auto;
}
.pannel.on {
}

.pannel.on .flip_ico {
    transform: rotate(180deg);
}
.pannel .pannel_content {
    display: none;
}
.pannel.on .pannel_content {
    display: block;
}


.ico_new_page {
    width: 15px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.ico_del {
    width: 20px;
    height: 20px;
    background: url("../img/ico_del.png")no-repeat 0 0/cover;
    cursor: pointer;
    vertical-align: middle;
}


.set_club_public h3 {
    padding-bottom: 0;
}

.set_club_public {
    display: flex;
    justify-content: space-between;
}

.player_position {
    color:#005DFF;
    padding-left:20px;
}

/*recent_game*/
.recent_game_head, .recent_game_body > .row {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.recent_game_head {
    background: #C6CAD8;
    line-height: 24px;
    font-weight: 600;
    font-size: 17px;
}

.recent_game_wrapper .home,
.recent_game_wrapper .away,
.recent_game_wrapper .score,
.recent_game_wrapper .result {
    float: left;
    text-align: center;
}

.recent_game_wrapper .home,
.recent_game_wrapper .away {
    width: 20%;
}

.recent_game_wrapper .score {
    width: 25%;
}

.recent_game_wrapper .result {
    width: 30%;
}

.recent_game_wrapper .score > span {
    display: inline-block;
    padding: 0.1em 0;
    width: 90px;
    font-weight: 600;
    font-size: 18px;
    background: #005DFF;
    color: #fff;
    border-radius: 5px;
}

.recent_game_body .result {
    font-size: 24px;
    color: #005DFF;
    font-weight: 600;
}

.recent_game_body .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.recent_game_body .row {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    .recent_game_body .row:last-child {
        border-bottom: 0;
    }

.type_0 div.asset_checkbox_wrapper {
    flex: none;
}
/*recruit_player*/
.recruit_player_head, .recruit_player_body > .row {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.recruit_player_head {
    background: #C6CAD8;
    line-height: 24px;
    font-weight: 600;
    font-size: 17px;
}

.recruit_player_wrapper .team,
.recruit_player_wrapper .gendar,
.recruit_player_wrapper .person,
.recruit_player_wrapper .formation {
    float: left;
    text-align: center;
}

.recruit_player_wrapper .team {
    width: 30%;
}

.recruit_player_wrapper .gendar {
    width: 20%;
}

.recruit_player_wrapper .person {
    width: 20%;
}

.recruit_player_wrapper .formation {
    width: 30%;
}

.recruit_player_body .result {
    font-size: 24px;
    color: #005DFF;
    font-weight: 600;
}

.recruit_player_body .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.recruit_player_wrapper .row .person,
.recruit_player_wrapper .row .formation {
    color: #005DFF;
    font-weight: 600;
}

.recruit_player_head,
.recruit_player_body .row {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-left: 0;
    padding-right: 0;
}

    .recruit_player_body .row:last-child {
        border-bottom: 0;
    }

.type_0 div.asset_checkbox_wrapper {
    flex: none;
}

/*host_matching*/
.host_matching_head, .host_matching_body > .row {
    overflow: hidden;
}

.host_matching_head {
    background: #C6CAD8;
    line-height: 24px;
    font-weight: 600;
    font-size: 17px;
}

.host_matching_wrapper .host,
.host_matching_wrapper .person,
.host_matching_wrapper .player {
    float: left;
    text-align: center;
}

.host_matching_wrapper .host {
    width: 35%;
}

.host_matching_wrapper .person {
    width: 20%;
}

.host_matching_wrapper .player {
    width: 45%;
}

    .host_matching_wrapper .player .thum_profile_3 {
        margin-left: -10px;
    }

.host_matching_wrapper .host {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.host_matching_wrapper .person > span {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.host_matching_body .player {
    font-size: 24px;
    color: #005DFF;
    font-weight: 600;
}

.host_matching_body .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.host_matching_body .row {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    .host_matching_body .row:last-child {
        border-bottom: 0;
    }
/*extra_recurit_summary_wrapper*/
.extra_recurit_summary_head, .extra_recurit_summary_body > .row {
    overflow: hidden;
}

.extra_recurit_summary_head, .extra_recurit_summary_body > .row {
    overflow: hidden;
}

.extra_recurit_summary_head {
    background: #C6CAD8;
    line-height: 24px;
    font-weight: 600;
    font-size: 17px;
}

.extra_recurit_summary_wrapper .person,
.extra_recurit_summary_wrapper .ability {
    float: left;
    text-align: center;
    width: 50%;
}


.extra_recurit_summary_wrapper .player .thum_profile_3 {
    margin-left: -10px;
}

.extra_recurit_summary_body .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.extra_recurit_summary_body .row {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    .extra_recurit_summary_body .row:last-child {
        border-bottom: 0;
    }
/*li_schedule*/

.li_schedule {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #E2E6F1;
}

    .li_schedule:last-child {
        margin-bottom: 0;
    }

.li_a_schedule {
    display: block;
    font-size: 14px;
}

    .li_a_schedule > div {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .li_a_schedule .team {
        height: 70%;
        font-size: 18px;
    }

        .li_a_schedule .team a {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }

        .li_a_schedule .team.home {
            left: 5%;
        }

        .li_a_schedule .team.away {
            right: 5%;
        }

    .li_a_schedule .desc {
        height: 90%;
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;
    }

        .li_a_schedule .desc > span {
            display: block;
            text-align: center;
            white-space: nowrap;
        }

        .li_a_schedule .desc .score {
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-size: 32px;
            font-weight: 600;
            width: 64px;
            line-height: 24px;
        }

/*rent_list*/
.rent_list_head, .rent_list_body > .row {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.rent_list_head {
    background: #C6CAD8;
    line-height: 24px;
    font-weight: 600;
    font-size: 17px;
}

.rent_list_wrapper .home,
.rent_list_wrapper .away,
.rent_list_wrapper .state,
.rent_list_wrapper .result {
    float: left;
    text-align: center;
}

.rent_list_wrapper .home,
.rent_list_wrapper .away {
    width: 20%;
}

.rent_list_wrapper .state {
    width: 25%;
}

.rent_list_wrapper .result {
    width: 35%;
}

.rent_list_wrapper .state > span {
    display: inline-block;
    padding: 0.1em 0;
    width: 90px;
    font-weight: 600;
    font-size: 18px;
    background: #005DFF;
    color: #fff;
    border-radius: 5px;
}

.rent_list_body .time {
    font-size: 16px;
    color: #005DFF;
    font-weight: 600;
}

.rent_list_body .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.rent_list_body .row {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    .rent_list_body .row:last-child {
        border-bottom: 0;
    }

.type_0 div.asset_checkbox_wrapper {
    flex: none;
    align-self: center;
}

/*option_wrapper*/
.option_wrapper .option {
    padding-left: 5%;
    padding-right: 5%;
}

.option_wrapper > div {
    margin-top: 12px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

    .option_wrapper > div:last-child {
        border-bottom: none;
    }

    .option_wrapper .price_wrapper {
        font-size: 20px;
        font-weight: 600;
        color:#005DFF;
    }

.option_title {
    margin-bottom: 20px;
}
/*seleted_ground_info_wrapper*/
.seleted_ground_info_wrapper {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

    .seleted_ground_info_wrapper .row {
        margin-bottom: 20px;
        height: 20px;
        font-size: 17px;
    }

        .seleted_ground_info_wrapper .row:after {
            content: "";
            display: block;
            clear: both;
        }

        .seleted_ground_info_wrapper .row:last-child {
            margin-bottom: 0;
        }

        .seleted_ground_info_wrapper .row .ground {
            float: left;
            color: #005DFF;
            font-size: 26px;
            font-weight: 800;
            width: 15%;
            margin-right: 5%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .seleted_ground_info_wrapper .row .time_wrapper {
            float: left;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            width: 80%;
            height: 100%;
        }

            .seleted_ground_info_wrapper .row .time_wrapper .time {
                width: 4em;
                font-size: 17px;
                text-align: center;
            }


/*account, message_wrapper*/
.account_wrapper,
.message_wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.message_wrapper {
    margin-top: 20px;
    margin-bottom: 100px;
}

.account_wrapper .account {
    overflow: hidden;
}

    .account_wrapper .account > div {
        float: left;
        display: flex;
        align-items: center;
        height: 42px;
        margin-bottom: 10px;
    }

.account_wrapper .label_wrapper {
    width: 19%;
}

.account_wrapper .asset_wrapper {
    width: 81%;
}

    .account_wrapper .asset_wrapper .asset_input,
    .account_wrapper .asset_wrapper .asset_select {
        padding: 0 10px;
    }

.account div.asset_select_wrapper {
    line-height: 39px;
}

.account .asset_select_wrapper .asset_select strong {
    font-size: 16px;
}
/*bgVideo_wrapper*/

.backVideo_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100% !important;
}

    .backVideo_wrapper:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.3);
        z-index: 2;
    }

video {
    /*filter:blur(1px);*/
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}






/*etc*/
.create_team label {
    line-height: 2.5em;
}

.textarea_wrapper {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

    .textarea_wrapper textarea {
        background: transparent;
        font-size: 15px;
        height: 90px;
    }




.team_history .card_wrapper {
    display: flex;
}

.team_history .card {
    flex: 1 1 auto;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

    .team_history .card:first-child {
        flex: 3 3 auto;
    }

    .team_history .card .table {
        display: flex;
        font-size: 15px;
    }

        .team_history .card .table .col {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
        }

            .team_history .card .table .col .row {
                line-height: 37px;
            }

                .team_history .card .table .col .row.th {
                    font-weight: 600;
                }

.create_team_wrapper {
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
.create_team_button_wrapper .button_wrapper {
    justify-content: center;
}
.create_team_button_wrapper .button_wrapper > a{
    width:60%;
}
.create_team .row {
    margin-bottom:10px;
}
.create_team .row:after {
    content:"";
    display:block;
    clear:both;
}
.create_team .row.col_wrapper {
    display:flex;
    
}
.create_team .col {
    float: left;
    margin-right: 20px;
    width: calc(70% - 20px);
}

.create_team .row:nth-child(3) .col .asset_input span {
    display: inline-block;
    color: #005DFF;
    width: 1.3em;
}
.create_team .row:nth-child(3) .col .asset_input input {
    width: calc(100% - 1.5em);
}
    .create_team .col:last-child {
        margin-right: 0;
        width: 30%;
    }


.ico_setting {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 20px;
    height: 20px;
}
.ico_setting img {
    width:100%;
}



.section.type_0 .section_title {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.point_info {
    font-size:18px;
    font-weight:600;
}
    .point_info strong {
        font-size: 28px;
        color: #005DFF;
        font-weight: 600;
    }
    .point_info i {
        cursor:pointer;
        width: 16px;
        height: 16px;
    }
    .resv_desc_wrapper, .point_desc_wrapper {
        padding: 4%;
    }
.pc_header,
.highlight_content {
    display: none !important;
}
@media (min-width:940px) {
    .blind.title {
        position: relative;
        left: auto;
        width: auto;
        height: auto;
        font-size: 1rem;
        line-height: normal;
        font-size: 30px;
        font-weight: 600;
        padding: 50px 0;
        text-align: center;
    }
        /*.blind.title:after {
            content: "";
            display: inline-block;
            background: #fff;
            width: 3em;
            height: 1px;
            position: absolute;
            bottom: 46px;
            left: 0;
            right: 0;
            margin: auto;
        }*/
    .toolbar,
    .bottom_nav {
        display:none !important;
    }
    .pc_header,
    .highlight_content {
        display: block !important;
    }
    /*pc_header*/
    .pc_header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        /*background: #2f3544;*/
        box-shadow: 0 5px 35px rgba(0,0,0,0.4)
    }
    .pc_header_body {
        max-width: 1192px;
        height:50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .pc_header .nav_wrapper {
        width:30%;
    }
    .pc_header_body nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }
            .pc_header_body nav a {
                color: #fff;
                font-size: 20px;
                font-weight: 600;
            }
                .pc_header_body nav a:hover,
                .pc_header_body nav a:focus {
                    color: #005DFF;
                }
    .pc_header .logo_wrapper {
        width:170px;
        height:100%;
        display:flex;
        align-items:center;
    }

    .pc_header .btn_logo {
        display:block;
        width:170px;
    }
    .pc_nav_list.on {
        color:#005DFF;
    }

    /*tabs_wrapper*/
    .tab_title {
        font-size:18px;
    }
    .tab_title_wrapper {
        /*display: flex;*/
        border-top: 1px solid rgba(0,0,0,0.2);
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    /*highlight_content*/
    .highlight_content {
        background: #E2E6F1;
    }

    /*comment*/
    .comment_input_wrapper {
        bottom:0;
    }
    .comment_input {
        max-width: 940px;
        margin: 0 auto;
    }

    .create_team_wrapper {
        margin-left: 0;
        margin-right: 0;
    }
    .reaction {
        padding-left: 0;
        padding-right: 0;
    }

    /*section*/
    .section .section_title {
        font-size: 18px;
    }
    .section_body {
        font-size: 18px;
    }

    /*sort_wrapper*/
    .sort_wrapper {
        margin-right:0;
    }

}