$black: #333;
$blue: #7285eb;
$red: #d6453e;
$yellow: #f5b131;
$green: #29d634;

.SetterNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  background-color: #ffffff;

  & > .Setter {
    display: flex;
    flex: 1;
  }
  input {
    width:100%;
    border: none;
    font-size: 2rem;
    text-align: center;
  }
  .Setter > div {
    flex: 1;
  }
}

.Button-Count-{
  &Up, &Down{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size:2rem;
    font-weight: bold;
    cursor: pointer;

    
    background: $blue;
    &:hover {
      background: lighten($blue, 10%);
    }
    &:active {
      background: darken($blue, 10%);
    }
  }
}
