$black: #333;
$blue: #d4d4ff;
$red: #ffbcb8;
$yellow: #f5b131;
$green: #29d634;

.Workout {
  width: 100%;
  margin-bottom: 10px;

  color: $black;
  font-weight: bold;

  font-size: 1rem;

  background: $blue;
  &:hover {
    background: lighten($blue, 5%);
  }
  &:active {
    background: darken($blue, 5%);
  }
}
.Buttons {
  display: flex;
  justify-content: space-between;
}
.Button-del {
  cursor: pointer;
}
