$black: #333;
$blue: #7285eb;
$red: #d6453e;
$yellow: #f5b131;
$green: #29d634;

.App {
  background: #f1f1f1;
}
.MWR-wrapper {
  max-width: 1024px;

  margin-left: auto;
  margin-right: auto;

  background: #fff;
}
.Button-confirm {
  cursor: pointer;

  background: #ffffff00;
  &:hover {
    background: #00ff62;
  }
}

//input 숫자 조절 버튼 삭제
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1024px) {
  .MWR-wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
}
